@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown_open, .captain_america, .iron_man, .black_widow, .dr_strange, .spider_man, .star_lord, .groot_man {
    display: none;
}

.captain22, .iron22, .widow22, .dr22, .spider22, .star22, .groot22 {
    display: none;
}

.left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.upper {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1.5s;
}

.right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1.2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.up {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.rt {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logo:nth-child(2), .logo1:nth-child(2), .spidy {
    transition-delay: 200ms;
}

.logo:nth-child(3), .logo1:nth-child(3) {
    transition-delay: 400ms;
}

@media(prefers-reduced-motion) {
    .left, .right, .upper {
        transition: none;
    }
}